<div class = "header">
  <h1>YouTube api</h1>
</div>

<div class = "show_main">
  <div class =  "list">
    <% @movieId.each do |movieId| %>

    <iframe src="https://www.youtube.com/embed/<%= movieId %>" allowfullscreen></iframe>
    <% end %>
  </div>
</div>
