<%= render 'header' %>

<div class = "show_main">
  <div class =  "list">
    <% @movieId.each do |movieId| %>

    <iframe src="https://www.youtube.com/embed/<%= movieId %>" allowfullscreen></iframe>
    <% end %>
  </div>
</div>
