<%= render 'header' %>


<div class = "main">
  <div class =  "list1">
    <% @movieId.each do |movieId| %>
    <h2><%= @title %></h2>
    <iframe src="https://www.youtube.com/embed/<%= movieId %>" allowfullscreen></iframe>
    <% end %>
  </div>
</div>
