// Place all the styles related to the channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// header //
//
body{
  font-family: 'Helvetica Neue','Helvetica','Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',
}

.header{
  width: 100%;
  height: 100px;
  background-color: #e6e6fa;
}

.header h1{
  line-height: 100px;
  margin:0px;
  padding-left:30px;
  color: #222222;
  float: left;
}

.header h1 a:link{
  // color:#000000;
  text-decoration: none;
}

.header h1 a:visited {
  color: #222222;
}

.header h1 a:hover{
  opacity: 0.5;
}

// .header ul{
//   float: right;
//   line-height: 100px;
//   margin: 0px;
// }

// .header li{
//   list-style: none;
//   display: inline;
//   padding: 30px;
//   font-size: 1.0em;
// }


// // main //

@media screen and (max-width:800px){
.index_main{
  display: block;
  padding: 10px;
  align-items: stretch;
  justify-content:center;
}
}

@media screen and (min-width: 800px){
.index_main{
  display: flex;
  padding: 10px;
  align-items: stretch;
  justify-content:center;
}
}

.index_main p{
  padding:10px;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}

.form{
  padding: 50px;
  font-size: 20px;
  text-align: center;
  background-color: #eee;
  margin: 80px 80px 0px 80px;

  // color: #fff;
  // margin: 10px;
  // border-radius: 5px;
  // width:5px;
}

select#category{
  margin:40px 0px 40px 0px;
  text-align: center;
}

// button //
// .btn{
//   display: inline-block;
//     padding: 0.5em 1em;
//     text-decoration: none;
//     background: #627295;/*ボタン色*/
//     color: #FFF;
//     border-bottom: solid 4px #00008b;
//     border-radius: 3px;
// }

.selectbox.btn{
  border-bottom: solid 4px #00008b;

}

.btn:active{
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

// index_title //
.category_title{
  margin:2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 1px #007bff;
  border-bottom: solid 1px #007bff;
}

.category_title:before, .category_title:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 1px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: #007bff;
}
.category_title:before {left: 10px;}
.category_title:after {right: 10px;}
.category_title p {
    margin: 0;
    padding: 0;
}

.situation_title{
  margin:2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 1px #dc3545;
  border-bottom: solid 1px #dc3545;
}

.situation_title:before, .situation_title:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 1px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: #dc3545;
}
.situation_title:before {left: 10px;}
.situation_title:after {right: 10px;}
.situation_title p {
    margin: 0;
    padding: 0;
}


.select#category{
  padding:10px;
}

.show_main{
  width: 100%;
  margin: auto;
  text-align: center;
}

.list iframe{
//   width: 400px;
//   height: 300px;
  margin: 30px;
  text-align: center;
}
